<mat-card class="" style="height: 100%;">
  <mat-card-header>
    <mat-card-title>{{titleKey | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex flex-col">
      <span class="f-s-20 f-w-700">{{value | currency: 'EUR'}}</span>
      @if (trendValue) {
        <div class="d-flex justify-content-end" [ngClass]="getTrendTextColorClass()">
          <mat-icon class="arrow up">{{getTrendIcon()}}</mat-icon>
          <span class="change up">{{ trendValue | currency: 'EUR' }}</span>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
