<div style="display: flex; flex-direction: column; height: 100vh;">

  <page-header>
    <mat-form-field [subscriptSizing]="'dynamic'">
      <mat-label>From</mat-label>
      <mtx-datetimepicker #datetimePicker [type]="'date'"></mtx-datetimepicker>
      <input [mtxDatetimepicker]="datetimePicker" matInput required [ngModel]="from$ | async" (ngModelChange)="setfrom($event)"/>
      <mtx-datetimepicker-toggle [for]="datetimePicker" matSuffix></mtx-datetimepicker-toggle>
    </mat-form-field>
  </page-header>

  <gridster [options]="options" style="flex-grow: 1;">
    @for (item of dashboard; track item) {
      <gridster-item [item]="item">
        <ndc-dynamic [ndcDynamicComponent]="getWidgetComponent(item)" />
      </gridster-item>
    }
  </gridster>
</div>

<div class="dashboard-container">
  <div class="row">
    <div class="col-4">
      <app-total-assets-kpi />
    </div>

    <!--<div class="col-4">
      <app-kpi-card [value]="(kpis$|async)?.totalLiabilities ?? 0" [trendValue]="-1000" [reverse]="true" titleKey="dashboard.total-liabilities"/>
    </div>

    <div class="col-4">
      <app-kpi-card [value]="(kpis$|async)?.netWorth ?? 0" [trendValue]="3000" titleKey="dashboard.net-worth"/>
    </div>-->
  </div>

 <!-- <div class="row">
    <div class="col-6">
      <mat-card class="">
        <mat-card-header>
          <mat-card-title>Einnahmen vs. Ausgaben</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-incomes-vs-expens [data]="(incomeVsExpenses$ | async) ?? {}"/>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <mat-card class="">
        <mat-card-header>
          <mat-card-title>Verteilung der Ausgaben</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-cash-flow-diagram [data]="(cashFows$|async) ?? []"/>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <mat-card class=>
          <mat-card-header>
            <mat-card-title>Nettoentwicklung</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-value-development [data]="(netWorthHistories$|async) ?? {}" />
          </mat-card-content>
        </mat-card>
    </div>
  </div>-->
</div>
