<mtx-grid [data]="(data$ | async) ?? []" [columns]="columns" [pageOnFront]="false" [showToolbar]="true" [rowStriped]="true" [showColumnMenuButton]="true" [toolbarTemplate]="toolbarTpl"
          [showPaginator]="false"></mtx-grid>

<ng-template #toolbarTpl>
  <form [formGroup]="filterForm">
    <mat-form-field [subscriptSizing]="'dynamic'">
      <mat-label>Search</mat-label>
      <input matInput formControlName="search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</ng-template>
